.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 5px;
}

label,
input,
button,
textarea {
  margin: 5px;
}
